* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(34, 34, 34);
    color: white;
    margin: 0.3rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
}

.logo {
    height: 100px;
    margin: 0.3rem;
}

.nav-items {
    font-size: 1.2rem;
    padding-right: 2%;
}

.nav-items>ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.link-comp-header {
    all: initial;
    color: white;
    font-size: larger;
}

.link-comp-header:hover {
    cursor: pointer;
    color: rgb(255, 193, 78);
}

.nav-items>ul>li {
    margin: 10px;
    padding: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-btn {
    cursor: pointer;
}

.filter {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter>* {
    margin: 1rem;

}

.search-box {
    margin-right: 1rem;
}

.res-container,
.shimmer-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

/* .search {
    padding: 10px;
} */

.res-card,
.shimmer-card {
    margin: 1.5rem;
    box-sizing: border-box;
    /* height: 300px; */
    width: 200px;
    border: 1px solid white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.shimmer-card {
    height: 300px;
    /* background-color: #f0f0f0; */
    border: none;
}

.card-text-container>* {
    margin: 4%;
}

/* select all child of a parent */
.res-card>* {
    margin: 0.4rem;
}

.res-card:hover {
    box-shadow: 1px 1px 5px 1px rgb(227, 227, 227);
    cursor: pointer;
}

.res-logo {
    width: 90%;
    /* height: 45%; */
    /* padding-top: 10px; */
}

.login {
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
}

.menu>* {
    margin: 1rem;
}

.menu-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 1rem; */
    border: 1px solid white;
}

.each-section-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 2rem;
    /* justify-content: center; */
}

.menu-card {
    /* width: 200px; */
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    /* background-color: #f0f0f0; */
}

.menu-card,
.res-card,
.shimmer-card {
    background-color: rgb(48, 48, 48);
    color: white;
}

.menu-card:hover {
    box-shadow: 1px 1px 5px 1px rgb(227, 227, 227);
}

.menu-card>* {
    width: 200px;
    margin: 1rem;
}

.each-section-container>li {
    list-style: none;
}

/* reset all properties of <a> tag to default */
.link-res-card {
    all: initial;
}